.alert-box {
    background-color: rgb(51, 188, 243);
    color: white;
    padding: 20px;
    border-radius: 5px;
    display: none;
}

.alert-box p {
    display: inline;
}

.alert-close {
    float: right;
}